{% extends "base_view.jinja2" %}

{% block title %}
    About
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="jumbotron jumbotron-fluid">
            <div class="container-fluid">
                <h1 class="display-4">Hello world!</h1>
                <hr class="my-4">
                <p class="lead">Here is my CV</p>
                <hr class="my-4">
                <p>I'm full stack-devops-sre-cto-cso-cpo-etc man!</p>
            </div>
        </div>
    </div>
{% endblock %}