{% extends "admin_base_view.jinja2" %}

{% block title %}
    Admin Categories
{% endblock %}

{% block content %}

    <div class="container mt-lg-5">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="form-control">Enter your post text here</label>
                    <textarea class="form-control" id="textcontent" placeholder="Type Text..." rows="12" cols="50"></textarea>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="form-control">Live preview</label>
                    <div style="width: 380px;" id="showtext"></div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js"></script>
    <script>
        var textcontent = document.getElementById('textcontent');

        textcontent.onkeyup = textcontent.onkeypress = function() {
            var text = this.value,
                target = document.getElementById('showtext'),
                converter = new showdown.Converter(),
                html = converter.makeHtml(text);
            console.log(text);
            console.log(html);

            target.innerHTML = html.replace(/\r?\n/g, '<br />');
        }
    </script>


{% endblock %}