{% extends "base_view.jinja2" %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}

        <div class="container mt-5">
{#            <div class="row col-lg">#}
                {% for item in payload %}
                    <div class="jumbotron jumbotron-fluid">
                        <div class="container-fluid">
                            <h1 class="display-4">{{ item.title }}</h1>
                            <span class="badge badge-info">{{ item.category }}</span>
                            <p class="lead">{{ item.creation_date }}</p>
                            <hr class="my-4">
                            <p>{{ item.preview }}</p>
                            <p class="lead">
                                <form action="{{ url('entity', entity_id=item.id) }}" method=get>
                                    <button class="btn btn-primary btn-lg" role="button">Read more...</button>
                                </form>
                            </p>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
{#            </div>#}
        </div>

{% endblock %}