{% extends "base_view.jinja2" %}

{% block title %}
    Entity
{% endblock %}

{% block content %}

        <main role="main" class="flex-shrink-0">
            <div class="container mt-5">
                <div class="row col-lg">
                    <div class="container">
                        <h1 class="display-4">{{ payload.title }}</h1>
                        <span class="badge badge-info">{{ payload.category }}</span>
                        <p class="lead">{{ payload.creation_date }}</p>
                        <hr class="my-4">
                        {{ payload.text|safe }}
                    </div>
                </div>
            </div>
        </main>

{% endblock %}