<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!--import bootstrap css styles-->
        <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css">
        <link rel="stylesheet" href="/static/css/bootstrap-grid.css" type="text/css">
        <link rel="stylesheet" href="/static/css/bootstrap-reboot.css" type="text/css">

        <!--import bootstrap js-->
        <script src="/static/js/bootstrap.js"></script>
        <script src="/static/js/bootstrap.bundle.js"></script>


        <title>Awesome blog</title>
    </head>
        <body>

        </body>
</html>